{% extends 'base.html' %}

{% block title%}Here's your Mablib!{% endblock %}
{% block content %} 
    
    <h3>Your Story</h3>
    {{ template }}
     <div><img src="https://media.tenor.com/images/8eec94235ba927a18fd28a06cf3f9452/tenor.gif" alt=""></div>
     <div><img src="https://media1.tenor.com/images/6a000fce3ccb8a452037a7650bc8059d/tenor.gif?itemid=15029335" alt=""></div>
     <div><img src="https://media1.tenor.com/images/6c69e47a342e82cd352becfdf05dd6f8/tenor.gif?itemid=8282901" alt=""></div>
     <div><img src="https://media1.tenor.com/images/ec9641522eb7053bba1fe53da71393a2/tenor.gif?itemid=7517608" alt=""></div>
     <div><img src="https://media1.tenor.com/images/12ab723927bfb71ebd2b9a98f0694757/tenor.gif?itemid=11806135" alt=""></div>
     <div><img src="https://media1.tenor.com/images/02d52c6533946e900e96ece3945958fb/tenor.gif?itemid=17304668" alt=""></div>
    {% endblock%}